body {
    min-width: 25rem;
    height: 20rem;
    overflow-x: hidden;
}
.verticalSpaceAboveX2 {
    margin-top: 1rem;
}
.verticalSpaceBelowX1 {
    margin-bottom: 0.5rem;
}
.verticalSpaceBelowX2 {
    margin-bottom: 1rem;
}
.settingsInput input {
    width: 14.5rem;
}
.settingsInput label {
	font-size: 1.4em;
	color: rgba(0,0,0,0.8);
}
.tsButton {
	width: 8rem;
	font-size: 0.7rem;
}
.titleFontSize {
	font-size: 1.3em;
}
.usageCircle {
	margin-top: 3em;
	margin-bottom: 1em;
	background-color: transparent;
}


#settingsTitle {
	display: inline-block;
}
#usagePercentageContainer {
	position: relative;
	height: 7rem;
}
#usagePercentageContainer > md-progress-circular {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0) scale(1.5625)  !important;
}
/* !important is necessary here because otherwise the angular material
** library will override it regardless of specificity */
#usagePercentageContainer > div {
	position: absolute;
	left: 50%;
	top: 3.4rem;
	transform: translate(-50%, 0);
	font-weight: 900;
}
#usagePercentageContainer > .usageCircle:first-of-type .md-fill {
	background-color: #D3D3D3;
}
#usageBigNumber {
	font-size: 2.5rem;
	font-weight: 600;
}
/* Overriding the default behaviour of angular to display:none for hidden items, to preserve spacing */
#progressBar.ng-hide {
	visibility: hidden !important;
	display: block !important;
}